* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Mulish, sans-serif !important;
}
/*navbar*/
.account-btn {
  background-color: #6b41f6 !important;
  border-color: #6b41f6 !important;
  font-weight: bold !important;
}

.login-btn {
  background-color: #ffc6fe !important;
  color: black !important;
  font-weight: bold !important;
  border-color: #ffc6fe !important;
}
/*footer*/
.footer {
  background-color: #ffffff;
  padding: 20px 0;
}

.footer h5 {
  font-size: 18px;
  font-weight: bold;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li img {
  margin-right: 10px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li img {
  width: 40px;
  height: 40px;
}

.no-style-list li {
  list-style: none;
}

.no-style-list li a {
  text-decoration: none;
  color: inherit;
}
